# ------------------------------------------------
# Environment
# ------------------------------------------------
.env
.env.*

# ------------------------------------------------
# SSL
# ------------------------------------------------
ssl/
certs/
*.crt
*.key
*.pem

# ------------------------------------------------
# Docker
# ------------------------------------------------
docker-compose.override.yml

# ------------------------------------------------
# Logs
# ------------------------------------------------
*.log
logs/

# ------------------------------------------------
# Odoo
# ------------------------------------------------
odoo-data/
addons/
filestore/
sessions/

# ------------------------------------------------
# PostgreSQL
# ------------------------------------------------
postgres-data/
*.sql
*.dump

# ------------------------------------------------
# IDE
# ------------------------------------------------
.vscode/
.idea/

# ------------------------------------------------
# OS
# ------------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------------
# Python
# ------------------------------------------------
__pycache__/
*.pyc

# ------------------------------------------------
# Terraform (future)
# ------------------------------------------------
*.tfstate
*.tfstate.backup

# ------------------------------------------------
# Secrets
# ------------------------------------------------
*.secret
*.token
